.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  text-align: center;
  align-items: center;
}
.main__container{
  border: none;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form > input{
  padding: 6px;
  margin-top: 1rem;
}
.form > button {
  cursor: pointer;
  width: 50%;
  padding: 6px;
  border: none;
  border-radius: 6px;  
  box-shadow: 2px 2px 2px 2px #ccc;
}
.otp__input--container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.otp__input{
  width: 30px;
  height: 30px;
  margin-right: 6px;
  text-align: center;
}