*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.content__container{
    border: 0.6px solid #101212;
    padding : 1rem;
    margin: 0.3rem;
    box-shadow: 3px 3px 3px 3px #ccc;
    border-radius: 6px;
}